<mat-card>
    <mat-card-content>
        <form autocomplete="off"
              class="edit-form"
              #editForm="ngForm"
              (submit)="submit()">
            <div fxLayout="row wrap"
                 fxLayoutGap="10px">
                <app-form-field [required]="true"
                                name="code"
                                placeholder="C&oacute;digo"
                                fxFlex="24"
                                [(ngModel)]="nomenclator.code">
                </app-form-field>

                <app-form-field [required]="true"
                                name="description"
                                placeholder="Descripci&oacute;n"
                                fxFlex="24"
                                [(ngModel)]="nomenclator.description">
                </app-form-field>

                <mat-form-field
                    fxFlex="24">
                    <mat-select name="nomenclatorType"
                                placeholder="Tipo"
                                #nomenclatorType="ngModel"
                                required
                                [(ngModel)]="nomenclator.type">
                        <mat-option *ngFor="let item of nomenclatorTypes$|async"
                                    [value]="item.value">
                            {{ item.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="nomenclatorType.hasError('required')">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap"
                 fxLayoutGap="5px"
                 fxLayoutAlign="end end">
                <button mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="editForm.form.invalid">
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </div>
        </form>

    </mat-card-content>
</mat-card>
