<div class="login-container"
     fxLayout="column wrap">
    <div class="login-container-top"></div>
    <div class="login-container-bottom"
         fxLayout="row wrap"
         fxLayoutAlign="center start">
        <div class="login-container-bottom-content">
            <div>
                <h3>Urupagos</h3>
                <h4>DASHBOARD</h4>
            </div>
            <mat-card>
                <mat-card-header fxLayout="column-reverse"
                                 fxLayoutAlign="center center"
                                 fxLayoutGap="25px">
                    <div class="logo"></div>
                </mat-card-header>
                <mat-card-content>
                    <form #loginForm="ngForm"
                          autocomplete="off"
                          fxLayout="column wrap">
                        <mat-form-field>
                            <input matInput
                                   placeholder="Usuario"
                                   required
                                   name="username"
                                   [(ngModel)]="username">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput
                                   type="password"
                                   required
                                   name="password"
                                   placeholder="Contrase&ntilde;a"
                                   [(ngModel)]="password">
                        </mat-form-field>
                    </form>
                    <h3 class="error"
                        *ngIf="error$|async">
                        Ha ocurrido un error, compruebe datos e int&eacute;ntelo nuevamente.
                    </h3>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-raised-button
                            color="primary"
                            [disabled]="loginForm.form.invalid"
                            (click)="login(username, password)">
                        Entrar
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
