<div class="list-container">
    <mat-card>
        <mat-card-content>
            <mat-table #table
                       [dataSource]="dataSource">
                <ng-template ngFor
                             let-column
                             [ngForOf]="columns">
                    <div *ngIf="column.selectable;else normal">
                        <ng-container [cdkColumnDef]="column.columnDef">
                            <mat-header-cell *cdkHeaderCellDef
                                             class="table-row-5p">
                                <strong>{{ column.header }}</strong>
                            </mat-header-cell>
                            <mat-cell *cdkCellDef="let row"
                                      class="table-row-5p">
                                <mat-radio-button disableRipple
                                                  (change)="columnSelected(row)"
                                                  [checked]="row.id === selected?.id"
                                                  color="primary">
                                </mat-radio-button>
                            </mat-cell>
                        </ng-container>
                    </div>

                    <ng-template #normal>
                        <ng-container [cdkColumnDef]="column.columnDef">
                            <mat-header-cell *cdkHeaderCellDef><strong>{{ column.header }}</strong></mat-header-cell>
                            <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
                        </ng-container>
                    </ng-template>
                </ng-template>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator [pageSize]="15">
            </mat-paginator>
        </mat-card-content>
    </mat-card>

    <app-fab-list-actions [canEdit]="anySelected$|async"
                          (addClick)="onAddClick()"
                          (editClick)="onEditClick()"
                          (deleteClick)="onDeleteClick()">
    </app-fab-list-actions>
</div>
