@import "../../../../../assets/variables";

.main-container {
    mat-drawer-container {
        height: calc(100vh - 64px);
    }

    mat-drawer {
        width: 200px;
        min-height: 100vh;
        background-color: $base-background;
    }

    mat-drawer-content {
        padding: 15px;
        background-color: $base-background;
    }
}
