@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: '-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif'
);

@include mat-core($custom-typography);

$urupagos-primary: mat-palette($mat-indigo);
$urupagos-accent: mat-palette($mat-pink, A200, A100, A400);
$urupagos-warn: mat-palette($mat-red);
$urupagos-theme: mat-light-theme($urupagos-primary, $urupagos-accent, $urupagos-warn);

@include angular-material-theme($urupagos-theme);
