@import "./theme";

$primary: map-get($urupagos-theme, primary);
$accent: map-get($urupagos-theme, accent);
$warn: map-get($urupagos-theme, warn);

$base-color: mat-color($primary);
$base-accent: mat-color($accent);
$base-warn: mat-color($warn);

$base-background: #f2f2f2;
$form-background: white;
$header-color: white;

$menu-color: #616161;
$active-item-background: rgba(black, .04);
$shadow-color: rgba(0, 0, 0, 0.45);
$sub-header-color: rgba(0, 0, 0, 0.87);
