@import "assets/theme";
@import "assets/variables";

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.spacer {
    flex: 1 1 auto;
}

.mat-table {
    .mat-row {
        min-height: 36px;

        .mat-cell {
            font-size: 12px;
        }
    }
}

.mat-paginator-container {
    justify-content: center !important;
}

.table-row-5p {
    flex: 0 0 5% !important;
}

.edit-form {
    padding: 15px;
}

.filters-section {
    padding: 10px 0;
    h3 {
        padding: 0;
        letter-spacing: 1.1px;
        margin: 0 0 6px;
        color: $menu-color;
        font-size: 14px;
        font-weight: 400;
    }
}

.list-container {
    position: relative;
    min-height: calc(100% - 25px);

    & > .mat-card {
        padding: 0;
    }
}

.no-padding {
    padding: 0 !important;
}
