@import "assets/theme";

body {
    padding: 0;
    margin: 0;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.spacer {
    flex: 1 1 auto;
}

.mat-table {
    .mat-row {
        min-height: 36px;

        .mat-cell {
            font-size: 12px;
        }
    }
}

.mat-paginator-container {
    justify-content: center !important;
}

.table-row-5p {
    flex: 0 0 5% !important;
}

.edit-form {
    padding: 15px;
}
